<%= form_with(model: @distance_to_joey, local: true) do |f| %>

  <%= f.hidden_field :restaurant_id, value: @restaurant.id %>

  <div class="form-group">
    <%= f.label :minutes_walking %>

    <%= f.text_field :minutes_walking, class: "form-control" %>
  </div>

  <%= f.submit "Create distance to joey", class: "btn btn-block btn-outline-secondary" %>
<% end %>
